/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-h1 font-bold;
  }
  h2 {
    @apply text-h2 font-bold;
  }
  h3 {
    @apply text-h3 font-bold;
  }
  h4 {
    @apply text-h4 font-bold;
  }
  h5 {
    @apply text-h5 font-bold;
  }
  h6 {
    @apply text-h6 font-bold;
  }
}

.submenu-container > div::before {
  content: "";
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  top: -30px;
  left: 0;
  pointer-events: none;
}

li:has(.submenu-container):hover .submenu-container > div::before {
  pointer-events: auto;
}
