/* src/styles/globals.css */
@import "tailwindcss";

@theme {
  --color-primary: #7a5af8;
  --color-primary-dark: #4a1fb8;
  --color-primary-darker: #0c0c0c;

  --color-shade: #140832;
  --color-shade-light: #28116;
  --color-shade-dark: #361786;
  --color-shade-darker: #4a1fb8;
  --color-shade-darkest: #5825da;

  --color-tint-lightest: #f2eefc;
  --color-tint-lighter: #cbbbf4;
  --color-tint-light: #a489eb;
  --color-tint: #7e56e3;
  --color-tint-dark: #6435dd;

  --color-gray-200: #cccccc;
  --color-gray-300: #c2c2c2;
  --color-gray-400: #999999;
  --color-gray-500: #8f8f8f;
  --color-gray-600: #858585;
  --color-gray: #d6d6d6;
  --color-gray-lightest: #ffffff;
  --color-gray-lighter: #f5f5f5;
  --color-gray-light: #ebebeb;
  --color-gray-normal: #e0e0e0;
  --color-gray-dark: #b8b8b8;
  --color-gray-darker: #adadad;
  --color-gray-darkest: #a3a3a3;

  --color-black: #667085;
  --color-black-dark: #475467;
  --color-black-darker: #344054;
  --color-black-darkest: #1d2939;
  --color-black-extra-dark: #101828;
  --color-black-light: #fcfcfd;
  --color-black-lighter: #f2f4f7;
  --color-black-lightest: #f9fafb;
  --color-black-extra-light: #e4e7ec;
  --color-black-muted: #d0d5dd;
  --color-black-dim: #98a2b3;

  --color-state-error: #b81f40;
  --color-state-success: #8db81f;
  --color-state-info: #004ab9;
  --color-state-warning: #ffc000;

  --text-display-1: 74px;
  --text-display-2: 64px;
  --text-display-3: 56px;
  --text-h1: 40px;
  --text-h2: 32px;
  --text-h3: 24px;
  --text-h4: 20px;
  --text-h5: 18px;
  --text-h6: 16px;
  --text-subtitle-1: 20px;
  --text-subtitle-2: 18px;
  --text-subtitle-3: 16px;
  --text-body-1: 18px;
  --text-body-2: 16px;
  --text-body-3: 14px;
  --text-button-1: 16px;
  --text-button-2: 14px;
  --text-caption-1: 14px;
  --text-caption-2: 12px;
  --text-overline-1: 14px;
  --text-overline-2: 12px;

  --font-times-new-roman: Times New Roman, serif;
  --font-plus-jakarta-display: Plus Jakarta Display, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

@layer components {
  h1 {
    @apply text-h1 font-bold font-times-new-roman;
  }
  h2 {
    @apply text-h2 font-bold font-times-new-roman;
  }
  h3 {
    @apply text-h3 font-bold font-times-new-roman;
  }
  h4 {
    @apply text-h4 font-bold font-times-new-roman;
  }
  h5 {
    @apply text-h5 font-bold font-times-new-roman;
  }
  h6 {
    @apply text-h6 font-bold font-times-new-roman;
  }
}

@import url("./styles/dropDown.css");
